
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AjustarSenhas</title>
    </head>
@using (Html.BeginForm())
{
    <body>
        <div>
            <button type="submit"></button> 
        </div>
    </body>
}
</html>
