<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Escolher Destaques</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Destaque.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form role="form">
            <div class="ms-partialview-template" id="partial-view-1">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/Destaque-Banner.png" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>CHILDHOOD MEMORIES</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/2.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>CONSECTETUR ADIPISCING ELIT</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/3.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>SUSPENDISSE UT PULVINAR MAURIS</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/4.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>SED DAPIBUS SIT AMET FELIS</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>

                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/5.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>CONSECTETUR ADIPISCING ELIT</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/6.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>SED A SEM AT LIBERO SODALES</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                    <div class="ms-slide">
                        <img src="~/fonts/img/img-master-slider/7.jpg" alt="lorem ipsum dolor sit" />
                        <div class="ms-info">
                            <h3>VITAE ULTRICIES ALIQUET</h3>
                            <h4>JOHN WILIAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div>

                        <div class="ms-layer buy-btn" style="left:330px; top:320px;"
                             data-effect="bottom(40)"
                             data-delay="10"
                             data-ease="easeInOutQuad">
                            <button class="btn btn-white  buy-btn"><i class="fa fa-bookmark"></i> Escolher</button>
                        </div>
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
        </form>
    </div>
</div>











