@model IEnumerable<Cliquemix.Models.tbDestaque>
@using Cliquemix.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Create";
    Layout = null;
    /*
    string Titulo = string.Empty;
    DateTime dtInicio = DateTime.Now;
    DateTime dtTermino = DateTime.Now.AddMonths(3).AddDays(10);
    string Cep = string.Empty;
    
    if(IsPost)
    {
        
        Titulo = Request["txtTitulo"];
        dtInicio = Convert.ToDateTime(Request["txtdtInicio"]);
        dtTermino = Convert.ToDateTime(Request["txtdtTermino"]);
         
        Cep = Request["txtCep"];

        //Response.Write("Campanha cadastrada: Título " + Titulo + " - " +"Data Início: " + dtInicio +" - Data Término: " + dtTermino +" - CEP: " + Cep);
        Endereco end = new Endereco();
        end.localizarEnd(Cep);
        Response.Write(end.dsPais + " - " + end.dsEstado + " - " + end.dsCidade + " - " + end.dsBairro + " - " + end.dsLogradouro);
    }  
     */
}    

<form id="formCampanha" action="" method="post">
    <fieldset>
        @*
        <legend>Adicionando nova campanha</legend>

        <label for="txtTitulo">Título da Campanha</label>
        <input type="text" id="txtTitulo" name="txtTitulo" />
        <br />

        <label for="txtdtInicio">Data Início da Campanha</label>
        <input type="text" id="txtdtInicio" name="txtdtInicio" />
        <br />

        <label for="txtdtTermino">Data Término da Campanha</label>
        <input type="text" id="txtdtTermino" name="txtdtTermino" />
        <br />
        *@
        <label for="txtCep">Cep da Campanha</label>
        <input type="text" id="txtCep" name="txtCep"/>
        <br />

        <input type="submit" value="Salvar" id="btnEnviar" name="btnEnviar" />

    </fieldset>
    
    @{
        int a1 = 0;
        string Cep = string.Empty;
        
        if (Request["txtCep"].Length > 8)
        {
            a1 = 100;
        }
        
        
        if(IsPost)
        {
            Cep = Request["txtCep"];
            Endereco end = new Endereco();
            end.localizarEnd(Cep);
            Response.Write(end.dsPais + " - " + end.dsEstado + " - " + end.dsCidade + " - " + end.dsBairro + " - " + end.dsLogradouro);
        }  
    }
</form>

