<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Gerir Destaques</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Destaque-List.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4 class="flutuar">Lista de Destaques</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Data de Aquisição</th>
                                <th class="text-center">Tempo Camp.</th>
                                <th class="text-center">Tempo Esp.</th>
                                <th class="text-center">Custo</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Destaque Sanfona</td>
                                <td class="text-center">28/11/2013</td>
                                <td class="text-center">1 mês</td>
                                <td class="text-center">30 segundos</td>
                                <td class="text-center">2000 ©</td>
                                <td class="text-center">
                                    <a href="~/fonts/img/img-exemples-destaques/photo-destaque-cortina.png" rel="prettyPhoto[gallery2]" style="padding-right: 10px;" class="ms-lightbox">
                                        <i class="fa fa-search" title="Visualizar"></i>
                                    </a>                                   
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">Destaque Banner P.</td>
                                <td class="text-center">28/12/2013</td>
                                <td class="text-center">2 semanas</td>
                                <td class="text-center">30 segundos</td>
                                <td class="text-center">5000 ©</td>
                                <td class="text-center">
                                    <a href="~/fonts/img/img-exemples-destaques/photo-destaque-letreiro.png" rel="prettyPhoto[gallery1]" style="padding-right: 10px;" class="ms-lightbox">
                                        <i class="fa fa-search" title="Visualizar"></i>
                                    </a> 
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">Destaque Letreiro</td>
                                <td class="text-center">01/01/2014</td>
                                <td class="text-center">1 mês</td>
                                <td class="text-center">45 segundos</td>
                                <td class="text-center">1000 ©</td>
                                <td class="text-center">
                                    <a href="~/fonts/img/img-exemples-destaques/photo-destaque-sanfon.png" rel="prettyPhoto[gallery3]" style="padding-right: 10px;" class="ms-lightbox">
                                        <i class="fa fa-search" title="Visualizar"></i>
                                    </a> 
                                </td>
                            </tr>
                        <thead class="rodape-tabela">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Data de Aquisição</th>
                                <th class="text-center">Tempo Camp.</th>
                                <th class="text-center">Tempo Esp.</th>
                                <th class="text-center">Custo</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>