@using Microsoft.AspNet.Identity
<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav" style="margin-top:-4%;">

            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle" src="~/Images/Fotos/img-cons-painel.jpg" style="width:150px; height:150px;" alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logado como
                </p>
                <p class="name tooltip-sidebar-logout">
                    <span class="last-name">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.Label(User.Identity.GetUserName());
                        }
                        <a class="logout_open" style="color: inherit" title="Logout" href="~/Account/Logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </span>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->

            <!-- begin DASHBOARD LINK -->
            <li>
                <a href="/PrincipalConsumidor/PrincipalConsumidor">
                    <i class="fa fa-dashboard"></i> Principal
                </a>
            </li>

            <li>
                <a href="~/PrincipalConsumidor/PrincipalAnuncios">
                    <i class="fa fa-picture-o"></i> Anúncios
                </a>
            </li>

            <li>
                <a href="/Anuncio/ConfigAnuncioConsumidor">
                    <i class="fa fa-cogs"></i> Configurações
                </a>
            </li>

            <li>
                <a href="/RelatorioConsumidor/RelConsumidorPrincipal">
                    <i class="fa fa-file-text"></i> Relatórios
                </a>
            </li>                  
            <!-- end FORMS DROPDOWN -->
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->
<!-- end SIDE NAVIGATION -->
