<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">

            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle" src="~/fonts/img/profile-pic.jpg" alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logado como
                </p>
                <p class="name tooltip-sidebar-logout last-name">
                    Consumidor
                    @*<span class="last-name">1</span>*@ <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->
            <!-- begin DASHBOARD LINK -->
            <li>
                <a href="/PrincipalConsumidor/PrincipalConsumidor">
                    <i class="fa fa-dashboard"></i> Principal
                </a>
            </li>

            <li>
                <a href="http://www.sicove.com.br" target="_blank">
                    <i class="fa fa-picture-o"></i> Anúncios
                </a>             
            </li>

            <li>
                <a href="/Anuncio/ConfigAnuncioConsumidor">
                    <i class="fa fa-cogs"></i> Configurações
                </a>
            </li>

            <li>
                <a href="/RelatorioConsumidor/RelConsPrincipal">
                    <i class="fa fa-file-text"></i> Relatórios
                </a>
            </li>                  
            <!-- end FORMS DROPDOWN -->
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->
<!-- end SIDE NAVIGATION -->
