<div class="tab-pane fade in active" id="RelPrem">
    <h4 class="page-header">Relatórios Sobre Premiações:</h4>
    <form role="form" action="#">
        <div class="form-group col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet portlet-default">
                                <div class="portlet-body" style="min-height:326px;">
                                    <h4 class="color-theme">Opções:</h4>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="" />
                                            Prêmios que ganhou.
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="" />
                                            Ganhadores dos prêmios de seus anúncios clicados.
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="" />
                                            Pontos adquiridos para sua rede.
                                        </label>
                                    </div>
                                    
                                                                          
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios5" value="" />
                                                Maiores Prêmios - Sicove.
                                            </label>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet portlet-default">
                                <div class="portlet-body">
                                    <h4 class="color-theme">Data:</h4>
                                    <br />
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label color-theme">Início</label>
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" />
                                                    <span class="input-group-addon"><i class="fa fa-calendar color-theme"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label color-theme">Fim</label>
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" />
                                                    <span class="input-group-addon"><i class="fa fa-calendar color-theme"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <h4 class="color-theme">Tipo de Relatório:</h4>
                                        <br />

                                        <div class="form-group" style="padding-left:5%;">
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="TpRelRadios" id="TpOptionsRadios1" value="" />
                                                    Descritivo
                                                </label>
                                            </div>

                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="TpRelRadios" id="TpOptionsRadios1" value="" />
                                                    Gráfico
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-11"></div>
        <div class="col-lg-1" style="margin-left:88%;">
            <button type="submit" class="btn btn-default">Gerar</button>
        </div>











    </form>
</div>


