@using System.Drawing
@using System.Web.Razor.Text
@using System.Web.UI.WebControls
@using Cliquemix.Models
@model Cliquemix.Models.Endereco

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Endereco endereco = new Endereco();
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Endereço</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group col-lg-3">
            @Html.LabelFor(model => model.cep, "CEP")
            @Html.TextBoxFor(model => model.cep, new { @class = "form-control", maxlength = "10", alt = "cep", id = "txtCep"})
            
        </div>
    </div>
}