@using System.Web.UI.WebControls
@using Cliquemix.Models

@{
    ViewBag.Title = "Index";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript"
        src="~/Scripts/Outros/jquery-2.1.1.min.js"></script>

<script type="text/javascript">
    //var pCep = $("input[id='txtCep']").val();
    function atualizarDefinicao() {
        $.ajax(
        {            
            type: 'POST',
            url: '/Endereco/DefinicaoArquitetura/?cep=' + $("input[id='txtCep']").val(),
            dataType: 'html',
            cache: false,
            async: true,
            success: function (data) {
                $('#definicaoArquitetura').html(data);
            }
        });
    }
/*    
    $(document).ready(function () {
        setInterval(atualizarDefinicao, 30000);
    });
*/
</script>

<div class="form-group col-lg-12">
    <br/>
    Última atualização completa desta página: @DateTime.Now.ToString("HH:mm:ss")

    <h3>Definição:</h3>

    <div>
        <input type="button" id="btnBuscar" value="Pesquisar" onclick="atualizarDefinicao();" />
    </div>    

    <div id="definicaoArquitetura">
        @{
            Html.RenderPartial("DefinicaoArquitetura");            
        }
    </div>

</div>
