
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<h2>Index</h2>


<input type="text" id="s" name="s" value="1"/>
<button type="submit"></button>
