@using System.Diagnostics.Eventing.Reader
@using Microsoft.AspNet.Identity;

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Principal
                <small>CliqueMix - Anunciante</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <!--Inicio Row principal -->
    <div class="col-lg-12">
        <!--Inicio col-12 principal -->
        <div class="row">
            <!--Inicio Row-texto-area principal -->
            <div class="col-lg-12">
                <!--Inicio col-12 texto-area principal -->
                <div class="portlet portlet-dark-blue">
                    <!--Inicio portlet -->
                    <div class="portlet-body">
                        <!--Inicio portlet-body -->
                        <ul id="userTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#profile-settings" data-toggle="tab">Anúncios</a>
                            </li>
                        </ul>
                        <!---------------------------- Inicio Dashboard - Anuncios ------------------------------------------------------->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading dark-blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content dark-blue">
                                            <div class="circle-tile-description text-faded">
                                                Bermudas Flex
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                245 clicks
                                            </div>
                                            <a href="#" class="circle-tile-footer"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading dark-blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content dark-blue">
                                            <div class="circle-tile-description text-faded">
                                                Tênis Nike Shoes X
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                12399 Clicks
                                            </div>
                                            <a href="#" class="circle-tile-footer"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading dark-blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content dark-blue">
                                            <div class="circle-tile-description text-faded">
                                                Camisa Polo Flex
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                1003 Clicks
                                                <span id="sparklineA"></span>

                                            </div>
                                            <a href="#" class="circle-tile-footer"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="circle-tile">
                                        <a href="#">
                                            <div class="circle-tile-heading dark-blue">
                                                <i class="fa fa-picture-o fa-fw fa-3x"></i>
                                            </div>
                                        </a>
                                        <div class="circle-tile-content dark-blue">
                                            <div class="circle-tile-description text-faded">
                                                Coeca Shoes
                                            </div>
                                            <div class="circle-tile-number text-faded">
                                                11 Clicks
                                            </div>
                                            <a href="#" class="circle-tile-footer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------- Fim Dashboard - Anuncios ------------------------------------------------------->
                    </div>
                    <!--Fim portlet-body -->
                </div>
                <!--Fim portlet -->
                <!--=============================================================================================================================-->
                <div class="row">
                    <!--Inicio Row-texto-area principal -->
                    <div class="col-lg-12">
                        <!--Inicio col-12 texto-area principal -->
                        <div class="portlet portlet-dark-blue">
                            <!--Inicio portlet -->
                            <div class="portlet-body">
                                <!--Inicio portlet-body -->
                                <ul id="userTab" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#profile-settings" data-toggle="tab">Campanhas</a>
                                    </li>
                                </ul>
                                <!---------------------------- Inicio Dashboard - Campanha ------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="col-lg-3" style="min-height:246px; width:233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-users fa-fw"></i> Campanha 1</h4>

                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="86">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-users fa-fw"></i> Campanha 2</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="23">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-users fa-fw"></i> Campanha 3</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="45,5">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-users fa-fw"></i> Campanha 4</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="5">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!---------------------------- Fim Dashboard - Campanha ------------------------------------------------------->
                                <!--=============================================================================================================================-->



                            </div>
                            <!--Fim portlet-body -->
                        </div>
                        <!--Fim portlet -->
                    </div>
                    <!--Inicio col-12 texto-area principal -->
                </div>
                <!--Fim Row-texto-area principal -->
                <!--INICIO Novidades -->

                <div class="row">
                    <!--Inicio Row-texto-area principal -->
                    <div class="col-lg-12">
                        <!--Inicio col-12 texto-area principal -->
                        <div class="portlet portlet-dark-blue">
                            <!--Inicio portlet -->
                            <div class="portlet-body">
                                <!--Inicio portlet-body -->
                                <ul id="userTab" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#profile-settings" data-toggle="tab">Novidades</a>
                                    </li>
                                </ul>
                                <!---------------------------- Inicio Dashboard - Novidades ------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="col-lg-3" style="min-height:246px; width:233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-cloud fa-fw"></i> Novidade 1</h4>

                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="86">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-cloud fa-fw"></i> Novidade 2</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="23">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-cloud fa-fw"></i> Novidade 3</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="45,5">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3" style="min-height: 246px; width: 233px;">
                                            <div class="tile dark-blue dash-demo-tile" style="min-height:235px;">
                                                <h4><i class="fa fa-cloud fa-fw"></i> Novidade 4</h4>
                                                <div id="easy-pie-1" class="easy-pie-chart" data-percent="5">
                                                    <span class="percent"></span>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!---------------------------- Fim Dashboard - Novidades ------------------------------------------------------->
                                <!--=============================================================================================================================-->



                            </div>
                            <!--Fim portlet-body -->
                        </div>
                        <!--Fim portlet -->
                    </div>
                    <!--Inicio col-12 texto-area principal -->
                </div>

















            </div>
            <!--Inicio col-12 texto-area principal -->
        </div>
        <!--Fim Row-texto-area principal -->
    </div>
    <!--Fim Col-12 principal -->
</div>
<!--Fim Row principal -->
