<div class="page-header upload-botao">
    <input type="file" id="flImagem" name="Imagem" data-input="false" data-iconname="glyphicon-inbox" onchange="">
    <input type="text" id="txtImg1"/>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg1">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem', 'imagem1');">
            <img id="imagem1" class="img-responsive" src="http://placehold.it/400x300">
        </a>            
    </div>    

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg2">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem2" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg3">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem3" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg4">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem4" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg5">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem5" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg6">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem6" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg7">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem7" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="uploadimg8">
        <a href="#" class="thumbnail" onclick="javascript:opendialogbox('flImagem');">
            <img id="imagem8" class="img-responsive" src="http://placehold.it/400x300">
        </a>
    </div>
</div>    


@*
<div id="uploadpic1" class="thumbimg">
    <a href="#" onclick="javascript:opendialogbox('imageuploadform1');">
        <img class="thumb" src="upload.jpg">
    </a>
</div>


<form id="uploadpic1" name="form1" action="uploadimage.php" method="post"
      enctype="multipart/form-data" target="upload_target1" onchange="this.submit()"
      onsubmit="startUpload();">
    <input type="file" id="imageuploadform1" name="picture" />
    <input type="hidden" name="divid" value="1" />
    <input type="submit" value="SUBMIT" />
</form>


function opendialogbox(inputid){
document.getElementById(inputid).click();
}*@