@using System.Web.UI.WebControls
@using Cliquemix.Models;
@using Microsoft.AspNet.Identity
@model IEnumerable<Cliquemix.Models.tbAnuncioImg>

@try
{
    foreach (var item in Model)
    {
        String _src = "http://localhost:35543/Arquivos/Anunciantes/" +
                      String.Format("{0:000000}", ProcFunc.RetornarCodigoAnunciante(User.Identity.GetUserName())) + "/Anúncios/" +
                      String.Format("{0:000000000}", item.idTemp) +
                      String.Format("{0:000}", item.idTempItem) +
                      ".jpeg";
        
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@_src" height="150" width="200" />
                <div class="caption">
                    <p>
                        <div class="btn-group navbar-right">
                            <a class="btn btn-white btn-sm"><i class="fa fa-search-plus"></i></a>
                            <a class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </p>
                </div>
            </div>
        </div>
    }    
}
catch (Exception)
{
    <br/>

    <label style="color: #34495E; font-weight: normal; font-size: 20px">
        Ainda não foi cadastrado imagens para esse anúncio
    </label>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
}