@model IEnumerable<Cliquemix.Models.tbAnuncioImg>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadImagem</title>
    <!--Ficaria assim a disposição-->
    <script src="~/Scripts/Outros/jquery-2.1.1.js"></script>
    <script src="~/Scripts/Outros/jquery.uploadify.js"></script>
    <link href="~/Content/Outros/uploadify.css" rel="stylesheet" />
    <!--Fim da diposição-->
</head>

<body>
    <div>
        <input type="file" name="Filedata" id="Filedata" />
    </div>

    <script>
        var idAlbum = '1';
        $(function () {
            $('#Filedata').uploadify({
                'swf': '/Content/Outros/uploadify.swf',
                'uploader': '/Anuncio/UploadImagem',
                'method': 'post',
                'formData': { 'idAlbum': idAlbum }
            });
        });
    </script>
</body>