@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Click Sicove</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Set the descritpion of you site-->
    <meta name="description" content="Syndicate - One Page Bootstrap Multipurpose Template">
    <!--Set author of your site-->
    <meta name="author" content="Awerest - interactive agency">
    <!--Modernizr-->
    <script src="~/Scripts/Inicial/modernizr.js" type="text/javascript"></script>
    <!--Main Bootstrap styling-->
    <link rel="stylesheet" href="~/Content/Inicial/bootstrap.min.css">
    <!--Custom styling-->
    <link rel="stylesheet" href="~/Content/Inicial/style.css">
    <!--Iconic font - FontAwesome-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <!--Google font-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:200,400'>
    <!--Site thumbnail-->
    <link rel="image_src" href="thumbnail.png">
    <!--Browser tab icon aka Favicon-->
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar" data-offset='61'>


    <!--<div id="preloader">
         <div id="status">&nbsp;</div>
     </div>-->
    <!--start navigation-->
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container" data-start="padding: 15px 0px;" data-200="padding: 0px 0px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#intro" class="navbar-brand"><img class="img-responsive" src="~/Images/Inicial/logo.png" alt=""></a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="#second">Work</a></li>
                    <li><a href="#third-header">Team</a></li>
                    <li><a href="#fourth">Clik Destaques</a></li>
                    <li><a href="#contact">Contato</a></li>
                    <li><a href="#contact">Seja um Anunciante</a></li>
                    <li><a href="~/Account/Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--end navigation-->
    <!--start intro section-->
    <section id="intro">
        <div id="carousel_intro" class="carousel slide fadeing">
            <div class="carousel-inner">
                <div class="active item" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                    <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;" style="color:#243544">Cliques que transformam em Pontos</h1>
                </div>
                <div class="inactive item" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                    <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Pontos que transformam em Dinheiro</h1>
                </div>
                <div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                    <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;" style="text-shadow: 1px 1px 1px rgba(0, 0, 0, 2.3);">Dinheiro que realiza sonhos</h1>
                </div>
            </div>
            <button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
            <button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
        </div>
        <div class="hidden-sm more">
            <a href="#services" class="btn btn-syndicate squared" data-start="opacity:1; margin-top: 0%;" data-250="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> Segue Abaixo</a>
        </div>
    </section>
    <!--end intro section-->
    <!--start services section-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Serviços</h1>
                </div>
                <div class="col-lg-3 col-sm-6 margin">
                    <i class="icon-tablet red" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
                    <h3>Fully Responsive</h3>
                    <h5>Down to Phone Screen</h5>
                    <p><small>A website that responds to the device that accesses it and delivers the appropriate output for it uses responsive design.</small></p>
                </div>
                <div class="col-lg-3 col-sm-6 margin">
                    <i class="icon-cogs yellow" data-bottom-center="opacity: 0;" data--60-bottom-bottom="opacity: 1;"></i>
                    <h3>Built With Bootstrap 3!</h3>
                    <h5>HTML5 & CSS3 Valid Code</h5>
                    <p><small>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small></p>
                </div>
                <div class="col-lg-3 col-sm-6 margin">
                    <i class="icon-eye-open green" data-bottom-center="opacity: 0;" data--120-bottom-bottom="opacity: 1;"></i>
                    <h3>Retina Ready</h3>
                    <h5>Ultra sharp graphics</h5>
                    <p><small>Syndicate looks beautiful on retina displays. Makes it easy to serve high-resolution images to devices with retina displays.</small></p>
                </div>
                <div class="col-lg-3 col-sm-6 margin">
                    <i class="icon-ambulance blue" data-bottom-center="opacity: 0;" data--180-bottom-bottom="opacity: 1;"></i>
                    <h3>Free Support</h3>
                    <h5>It's Free and Always Will Be</h5>
                    <p><small>Don't worry - we've got you covered! Grab a cup of coffee and let us jump in. We also do small customization for free.</small></p>
                </div>
            </div>
        </div>
    </section>
    <!--end services section-->
    <div class="rainbow"></div>
    <!--start customers section-->
    <section id="customers">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_1.png" alt=""></a>
                </div>
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_2.png" alt=""></a>
                </div>
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_3.png" alt=""></a>
                </div>
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_4.png" alt=""></a>
                </div>
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_5.png" alt=""></a>
                </div>
                <div class="col-lg-2">
                    <a href="#" target="blank"><img class="img-responsive" src="~/Images/Inicial/customer_6.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!--end customers section-->
    <div class="rainbow"></div>
    <!--start details section-->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Details</h1>
                </div>
                <div class="col-lg-4 col-sm-4 margin">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base red"></i>
                                <i class="icon-file-text icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>Well Documented</h3>
                            <p><small>We have explained how to edit every element for your needs. All packed in one nice document that comes with download.</small></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base red"></i>
                                <i class="icon-code icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>Commented</h3>
                            <p><small>To help you when customizing Syndicate, HTML and CSS files are commented.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 margin">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base yellow"></i>
                                <i class="icon-comments icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>Support via forum</h3>
                            <p><small>We have forum for our buyers where you can report issues, find answers and get latest updates before we publish them on ThemeForest.</small></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base yellow"></i>
                                <i class="icon-envelope icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>Support via email</h3>
                            <p><small>If you have some pre-sale questions you can always contact us via form on our ThemeForest profile.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 margin">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base green"></i>
                                <i class="icon-html5 icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>HTML5 & CSS3</h3>
                            <p><small>Valid code, latest technologies, always up-to-date. Compatible with latest desktop and mobile browsers down to IE8.</small></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <span class="icon-stack">
                                <i class="icon-circle icon-stack-base green"></i>
                                <i class="icon-bug icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                            </span>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3>No Bugs</h3>
                            <p><small>Syndicate is tested on different devices, browsers and operating systems. If you find one, the beer is on us.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end details section-->
    <!--start first header section-->
    <section id="first-header" class="header slider-header">
        <h1>One for all</h1>
        <div id="carousel_header_1" class="carousel slide fadeing">
            <div class="carousel-inner">
                <div class="active item">
                    <img class="img-responsive" src="~/Images/Inicial/headers/first_macbook.png" alt="">
                </div>
                <div class="inactive item">
                    <img class="img-responsive" src="~/Images/Inicial/headers/first_macbook_2.png" alt="">
                </div>
                <div class="inactive item">
                    <img class="img-responsive" src="~/Images/Inicial/headers/first_macbook_3.png" alt="">
                </div>
            </div>
            <button class="left carousel-control" href="#carousel_header_1" data-slide="prev"><i class="icon-chevron-left"></i></button>
            <button class="right carousel-control" href="#carousel_header_1" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
    </section>
    <!--end first header section-->
    <!--start Register section-->
    <section id="register">
        <div id="carousel_intro" class="carousel slide fadeing">
            <div class="carousel-inner">
                <a href="/Inicial/Register" title="Novo Anunciante" id="btnNovoAnunciante" name="btnNovoAnunciante">
                    Novo Anunciante
                </a>
            </div>
        </div>
        <div class="hidden-sm more">
            <a href="#services" class="btn btn-syndicate squared" data-start="opacity:1; margin-top: 0%;" data-250="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> Segue Abaixo</a>
        </div>
    </section>
    <!--end Register section-->    

    <!--start first section-->
    <section id="first" class="content">
        <div class="container">
            <div class="row">
                <!--start features #1 -->
                <div class="col-lg-6">
                    <h1>It's Awesome</h1>
                    <p class="lead">
                        With Bootstrap 3, Syndicate is mobile friendly from the start.
                        Instead of adding on optional mobile styles, they're baked right into the core. In fact, Syndicate is mobile first.<br><br>
                        <small>
                            The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                            Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                            Awesomeness, true story!
                        </small>
                    </p>
                </div>
                <div class="col-lg-6 icons">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <i class="icon-group" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <a href="#" class="btn btn-more btn-mini">More</a>
                            <h3>Made for Everyone</h3>
                            <h5>Packed with Features</h5>
                            <p><small>Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes and an advanced grid system.</small></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <i class="icon-flag" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <a href="#" class="btn btn-more btn-mini">More</a>
                            <h3>Tons of Components</h3>
                            <h5>Add any, fast and easy</h5>
                            <p><small>Dozens of reusable components built to provide dropdowns, navigation, alerts, popovers and much more.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-divider"></div>
            <!--start features #2 -->
            <div class="row">
                <div class="col-lg-6 video">
                    <iframe src="http://player.vimeo.com/video/60252066?title=0&amp;byline=0&amp;portrait=0"></iframe>
                </div>
                <div class="col-lg-6">
                    <h1>Responsive Videos</h1>
                    <p class="lead">
                        Embed YouTube and Vimeo videos on site and watch them on any device. Just wrap iframe of video in div with appropriate class and you are set.<br><br>
                        <small>
                            The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                            Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                            Awesomeness, true story!
                        </small>
                    </p>
                </div>
            </div>
            <div class="content-divider"></div>
            <!--start features #3 -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>Easy to Customize</h1>
                    <p class="lead">
                        Syndicate includes a responsive, mobile-first fluid grid system that appropriately scales up to 12 columns
                        as the device or viewport size increases.<br><br>
                        <small>
                            The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                            Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                            Awesomeness, true story!
                        </small>
                    </p>
                </div>
                <div class="col-lg-6 icons">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <i class="icon-star-empty" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                            <h3>361 Icons</h3>
                            <p><small>Infinite scalability - scalable vector graphics means every icon looks awesome at any size.</small></p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <i class="icon-pencil" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
                            <h3>Colorful or flat</h3>
                            <p><small>Easily style icon color, size, shadows, use premade one or make your own color combo.</small></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <i class="icon-refresh" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                            <h3>Rearrange layout</h3>
                            <p><small>The place to stay when you want it your way. Move pages up and down and arrange elements.</small></p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <i class="icon-font" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
                            <h3>Google fonts</h3>
                            <p><small>We have used only Google web fonts. You can use any within a minute.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-divider"></div>
            <!--start features #4 -->
            <div class="row">
                <div class="col-lg-6">
                    <div id="carousel_content" class="carousel slide fadeing">
                        <div class="carousel-inner">
                            <div class="active item">
                                <img class="img-responsive" src="~/Images/Inicial/works_1.jpg" alt="">
                            </div>
                            <div class="inactive item">
                                <img class="img-responsive" src="~/Images/Inicial/works_2.jpg" alt="">
                            </div>
                        </div>
                        <button class="left carousel-control" href="#carousel_content" data-slide="prev"><i class="icon-chevron-left"></i></button>
                        <button class="right carousel-control" href="#carousel_content" data-slide="next"><i class="icon-chevron-right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 margin">
                    <h1>Slide on Touch</h1>
                    <p class="lead">
                        We have added swipe function to Bootstrap carousel. It can be any width, depends of the layout that you want.
                        This one is 1/2 width. You can find full width slider in header of section.<br><br>
                        <small>
                            The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                            Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                            Awesomeness, true story!
                        </small>
                    </p>
                </div>
            </div>
            <div class="content-divider"></div>
            <!--start features #5 / tables -->
            <div class="row margin">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Transparent Pricing</h1>
                    <p class="text-center"><small>No hidden fees. No high-pressure salespeople.</small></p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Small business</span></h3><br>
                        <h2>$9<sup>.99</sup>/mo</h2>
                        <p>+ 1.25% of revenue</p><br>
                        <i class="icon-credit-card"></i>
                        <p>Ideal for businesses with credit card-only subscriptions.</p>
                        <h3><span>Features</span></h3><br>
                        <p>1 Email Addresses, 2GB Disk Space, 1 MySQL Databases and 1 Domains<br><br>
                        <p><a class="btn btn-pallmall" href="#">Free Trial</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Mid business</span></h3><br>
                        <h2>$29<sup>.99</sup>/mo</h2>
                        <p>+ 1.25% of revenue</p><br>
                        <i class="icon-file-text-alt"></i>
                        <p>Accept credit cards and checks and keep all your subscribers in one system.</p>
                        <h3><span>Features</span></h3><br>
                        <p>10 Email Addresses, 40GB Disk Space, 10 MySQL Databases and 10 Domains<br><br>
                        <p><a class="btn btn-sun" href="#">Sign Up</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table green">
                        <h3><span>Enterprise</span></h3><br>
                        <h2>$99<sup>.99</sup>/mo</h2>
                        <p>+ 1.25% of revenue</p><br>
                        <i class="icon-globe"></i>
                        <p>International currencies and keep all your subscribers in one system.</p>
                        <h3><span>Features</span></h3><br>
                        <p>Unlimited Email Addresses, MySQL Databases, Domains and Disk Space<br><br>
                        <p><a class="btn btn-eco" href="#">Contato</a></p>
                    </div>
                </div>
            </div>
            <div class="content-divider"></div>
            <div class="row">
                <div class="col-lg-8 col-offset-2 text-center">
                    <h1 class="text-center">Try Syndicate!</h1>
                    <p class="text-center">
                        Sign up for a fully-functional, free demo account to decide if Syndicate is right for your business:<br><br>
                        <a class="btn btn-syndicate btn-large squared" href="#">Sign Up Free</a>
                    </p>
                </div>
            </div>
            <div class="content-divider"></div>
        </div>
    </section>
    <!--end first section-->
    <!--start second section-->
    <section id="second" class="content no-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Awesome portfolio</h1>
                    <p class="text-center">
                        We like onepage websites, but sometimes you just need more space to show to people what you do.
                        So here it is, full screen modals to show any content that you like. Check it out by clicking on one of the items:
                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <ul class="grid">
                            <!--start #1 gallery-->
                            <li class="col-lg-4 col-sm-4">
                                <a href="#gallery_1" role="button" data-toggle="modal">
                                    <figure>
                                        <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_1.jpg" alt="">
                                        <figcaption>
                                            <h4>Click Me</h4>
                                            <span>July 23, 2013</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!--start #2 gallery-->
                            <li class="col-lg-4 col-sm-4">
                                <a href="#gallery_2" role="button" data-toggle="modal">
                                    <figure>
                                        <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_2.jpg" alt="">
                                        <figcaption>
                                            <h4>Click Me</h4>
                                            <span>July 22, 2013</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!--start #3 gallery-->
                            <li class="col-lg-4 col-sm-4">
                                <a href="#gallery_3" role="button" data-toggle="modal">
                                    <figure>
                                        <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_3.jpg" alt="">
                                        <figcaption>
                                            <h4>Click Me</h4>
                                            <span>July 21, 2013</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--new row of gallery items-->
            <div class="row">
                <ul class="grid">
                    <!--start #4 gallery-->
                    <li class="col-lg-4 col-sm-4">
                        <a href="#gallery_1" role="button" data-toggle="modal">
                            <figure>
                                <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_4.jpg" alt="">
                                <figcaption>
                                    <h4>Click Me</h4>
                                    <span>July 20, 2013</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!--start #5 gallery-->
                    <li class="col-lg-4 col-sm-4">
                        <a href="#gallery_2" role="button" data-toggle="modal">
                            <figure>
                                <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_5.jpg" alt="">
                                <figcaption>
                                    <h4>Click Me</h4>
                                    <span>July 19, 2013</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!--start #6 gallery-->
                    <li class="col-lg-4 col-sm-4">
                        <a href="#gallery_3" role="button" data-toggle="modal">
                            <figure>
                                <img class="img-responsive" src="~/Images/Inicial/gallery/gallery_6.jpg" alt="">
                                <figcaption>
                                    <h4>Click Me</h4>
                                    <span>July 18, 2013</span>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
                <!--start #1 gallery modal-->
                <div id="gallery_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_1" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_1" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_1.jpg" alt="">
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_2.jpg" alt="">
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_1" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_1" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin">
                                    <h1>Modal #1</h1>
                                    <p class="lead">
                                        Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br><br>
                                        <small>
                                            Modals are streamlined, but flexible, dialog prompts with the minimum required functionality
                                            and smart defaults.
                                        </small>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin icons">
                                    <div class="row">
                                        <div class="col-lg-2 col-sm-2">
                                            <i class="icon-comments"></i>
                                        </div>
                                        <div class="col-lg-10 col-sm-10">
                                            <a href="#" class="btn btn-more btn-mini">More</a>
                                            <h3>Description</h3>
                                            <p>
                                                <small>
                                                    You could probably find few words to describe this project,
                                                    and few words to say something important.
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-lg-2 col-sm-2">
                                            <i class="icon-info-sign"></i>
                                        </div>
                                        <div class="col-lg-10 col-sm-10">
                                            <a href="#" class="btn btn-more btn-mini">More</a>
                                            <h3>Info</h3>
                                            <p>
                                                <small>
                                                    Give more informations about this project to your visitors.
                                                    Add some links in buttons or just don't.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end #1 gallery modal-->
                <!--start #2 gallery modal-->
                <div id="gallery_2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_2" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_2" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_3.jpg" alt="">
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_4.jpg" alt="">
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_2" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin">
                                    <h1>Modal #2</h1>
                                    <p class="lead">
                                        Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br><br>
                                        <small>
                                            Modals are streamlined, but flexible, dialog prompts with the minimum required functionality
                                            and smart defaults.
                                        </small>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin icons">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <i class="icon-comments"></i>
                                            <h3>Description</h3>
                                            <p>
                                                <small>
                                                    You could probably find few words to describe this project,
                                                    and few words to say something important.
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <i class="icon-info-sign"></i>
                                            <h3>Info</h3>
                                            <p>
                                                <small>
                                                    Give more informations about this project to your visitors.
                                                    Add some links in buttons or just don't.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end #2 gallery modal-->
                <!--start #3 gallery modal-->
                <div id="gallery_3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_3" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_3" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_5.jpg" alt="">
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Inicial/gallery/modal_6.jpg" alt="">
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_3" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_3" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin">
                                    <h1>Modal #3</h1>
                                    <p class="lead">
                                        Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br><br>
                                        <small>
                                            Modals are streamlined, but flexible, dialog prompts with the minimum required functionality
                                            and smart defaults.
                                        </small>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-sm-6 margin icons">
                                    <div class="row">
                                        <div class="col-lg-2 col-sm-2">
                                            <i class="icon-comments"></i>
                                        </div>
                                        <div class="col-lg-10 col-sm-10">
                                            <a href="#" class="btn btn-more btn-mini">More</a>
                                            <h3>Description</h3>
                                            <p>
                                                <small>
                                                    You could probably find few words to describe this project,
                                                    and few words to say something important.
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-lg-2 col-sm-2">
                                            <i class="icon-info-sign"></i>
                                        </div>
                                        <div class="col-lg-10 col-sm-10">
                                            <a href="#" class="btn btn-more btn-mini">More</a>
                                            <h3>Info</h3>
                                            <p>
                                                <small>
                                                    Give more informations about this project to your visitors.
                                                    Add some links in buttons or just don't.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end #3 gallery modal-->
            </div>
        </div>
    </section>
    <!--end second section-->
    <!--start third header section-->
    <section id="third-header" class="header header-extended">
        <div id="carousel_header_3" class="carousel slide fadeing">
            <div class="carousel-inner">
                <div class="active item">
                    <h1>Multi"CLICK"ando pessoas</h1>
                    <p class="lead">Porque fazer parte do Click Sicove?</p>
                    <a class="btn btn-fancy squared" href="http://themeforest.net/item/syndicate-all-purpose-bootstrap-retina-template/5412688?ref=awerest" target="_blank">Clique aqui</a>
                </div>
                <div class="inactive item">
                    <h1>Vem com a gente</h1>
                    <p class="lead">Um show de prêmios para você</p>
                    <a class="btn btn-fancy squared" href="http://themeforest.net/item/syndicate-all-purpose-bootstrap-retina-template/5412688?ref=awerest" target="_blank">Purchase</a>
                </div>
            </div>
            <button class="left carousel-control" href="#carousel_header_3" data-slide="prev"><i class="icon-chevron-left"></i></button>
            <button class="right carousel-control" href="#carousel_header_3" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
    </section>
    <!--end third header section-->
    <!--start third section-->
    <section id="third" class="content team">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Níveis de premiações</h1>
                    <p class="" style="font-size: 18px;">
                        • Em cada anúncio, é exibido o nível do prêmio que ali será sorteado.<br />
                        • Dividimos em 4(quatro) o número de níveis de premiações.<br />
                        • Cada nível possui prêmios de valores diferentes.<br />
                        • Dentro de cada nível possui vários intens. <br />
                        • O sorteio é realizado quando se zera todos os click's de um determinado anúncio. <br />
                        • O contemplado escolhe 1(um), entre os diveros itens contidos naquele nível. <br />

                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <img src="~/Images/Inicial/team/team_1.jpg" class="img-responsive img-circle red" data-bottom-top="opacity:0;" data-0-bottom="opacity:1;" alt="">
                            <h3>Nível 1</h3>
                            <h5>Vermelho</h5>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="~/Images/Inicial/team/team_2.jpg" class="img-responsive img-circle green" data-bottom-top="opacity:0;" data--25-bottom="opacity:1;" alt="">
                            <h3>Nível 2</h3>
                            <h5>Verde</h5>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="~/Images/Inicial/team/team_3.jpg" class="img-responsive img-circle yellow" data-bottom-top="opacity:0;" data--50-bottom="opacity:1;" alt="">
                            <h3>Nível 3</h3>
                            <h5>Amarelo</h5>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <img src="~/Images/Inicial/team/team_4.jpg" class="img-responsive img-circle blue" data-bottom-top="opacity:0;" data--75-bottom="opacity:1;" alt="">
                            <h3>Nível 4</h3>
                            <h5>Azul</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Campanhas</h1>
                    <p class="text-center">Clique e comece a pontuar</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span> • prêmio <span style=" font-weight: bold; color: #0dde48">nível 1</span></small>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span> • prêmio <span style=" font-weight: bold; color: #d800ff">nível 3</span> </small>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span>  • prêmio <span style=" font-weight: bold; color: #ffa800">nível 2</span> </small>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span>  • prêmio <span style=" font-weight: bold; color: #1800ff">nível 4</span>  </small>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span> • prêmio <span style=" font-weight: bold; color: #0dde48">nível 1</span> </small>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <blockquote>
                        <p>
                            Projetor BenQ MS513PB<br />
                            Algumas ferramentas são essenciais para serem usadas em reuniões, salas de aula ou até mesmo em casa. O projetor MS513 - BenQ é uma delas..
                            <small style="  color:black">Duração: <span style="color:red">60.seg</span>  • Pontuação: <span style="color:red">0,1.pts</span> • restam <span style="color:red">850 clicks</span>  • prêmio <span style=" font-weight: bold; color: #ffa800">nível 2 </small>
                        </p>
                    </blockquote>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </section>
    <!--end third section-->
    <!--start fourth section-->
    <section id="fourth" class="content no-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Click Destaque</h1>
                    <p class="text-center">Pontos e mais pontos para você, confira os destaques de hoje</p>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <!--start #1 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>0,60.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /> </div><p>345.ck</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>pts.0,1</p></li>
                                </ul>
                                <a href="#blog_1" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_1.jpg" alt="">
                                    <div class="info">

                                        <h4>Lavaroupas</h4>
                                        <p><span>Sansung</span></p>
                                        <p><span style="color: #0dde48">prêmio 1</span></p>
                                        <p><small>Lavaroupas Sansung (à seco) clique e confire a nova verssão clean.</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--start #2 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>0,60.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /> </div><p>850.ck</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>24.07</p></li>
                                </ul>
                                <a href="#blog_2" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_2.jpg" alt="">
                                    <div class="info">
                                        <h4>Galaxy Camêra</h4>
                                        <p><span>Sansung</span></p>
                                        <p><span style=" color: #ffa800">prêmio 2</span></p>
                                        <p><small>Você está prestes a conhecer a câmera com Android da Samsung.</small></p>
                                    </div>
                                </a>
                            </div>Dynamic and Engaging
                        </div>
                        <!--start #3 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>1,20.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /></div><p>220.ck</p>  </li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>pts.0,2</p></li>
                                </ul>
                                <a href="#blog_3" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_3.jpg" alt="">
                                    <div class="info">
                                        <h4> Audi RS4 Avant</h4>
                                        <p><span>Audaciti</span></p>
                                        <p><small>A mais nova máquina da Audi, já nas concecionárias Audacitiz</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--new row of blog items-->
                    <div class="row">
                        <!--start #4 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>0,60.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /></div><p>220.ck</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>pts.0,1</p></li>
                                </ul>
                                <a href="#blog_2" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_4.jpg" alt="">
                                    <div class="info">
                                        <h4>Ovos da Pascoa Trufados</h4>
                                        <p><span>Cacau Show</span></p>
                                        <p><small>Se encante com essa delícia, dê presentes Cacau Show.</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--start #5 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>0,60.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /></div><p>450.ck</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>pts.0,1</p></li>
                                </ul>
                                <a href="#blog_1" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_5.jpg" alt="">
                                    <div class="info">
                                        <h4>Cancun Mexico</h4>
                                        <p><span>Vasptur</span></p>
                                        <p><small>Super promoção fora de temporada Vasptur para Cancun, clique confira.</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--start #6 blog-->
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>0,30.seg</p></li>
                                    <li class="love"><div class="oneclick2"> <img src="~/Images/Inicial/oneclick.png" /></div><p>541.ck</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>pts.0,1</p></li>
                                </ul>
                                <a href="#blog_3" role="button" data-toggle="modal">
                                    <img class="img-responsive" src="~/Images/Inicial/blog/blog_6.jpg" alt="">
                                    <div class="info">
                                        <h4>Carne com Ideia</h4>
                                        <p><span>Nova Mesa</span></p>
                                        <p><small>A Gente só pensou nisso porque você pensou também.</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--start #1 blog modal-->
                    <div id="blog_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_1" aria-hidden="true">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h1>Gallery Post</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <p class="lead">
                                                    Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy,
                                                    it deosn't mttaer in waht oredr the ltteers in a wrod are,
                                                    the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                                                    <small>
                                                        The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                        Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                        Awesomeness, true story!
                                                    </small>
                                                </p>
                                                <blockquote>Cupcake ipsum</blockquote>
                                                <p>
                                                    <small>
                                                        Jelly-o cheesecake gummi bears chocolate. Fruitcake sesame snaps cheesecake fruitcake.
                                                        Apple pie dessert powder pie tart topping. Dessert pastry toffee dessert bonbon bonbon sugar plum
                                                        donut sweet.
                                                    </small>
                                                </p>
                                                <br>
                                                <blockquote>Hairy ipsum</blockquote>
                                                <p>
                                                    <small>
                                                        Boogie nights robot moustache got milk prince barin beefeater cigars,
                                                        boogie nights gentleman cigars robot moustache et sodales cum got milk beefeater prince barin
                                                        mustachioed cigars?
                                                    </small>
                                                </p>
                                                <br>
                                                <blockquote>Cheese ipsum</blockquote>
                                                <p>
                                                    <small>
                                                        Dolcelatte manchego parmesan cheesy feet croque monsieur red leicester say cheese the big cheese.
                                                        Brie everyone loves cheese on toast monterey jack cheesy grin queso stilton cheese strings.
                                                        Cauliflower cheese roquefort halloumi.
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="row guter">
                                                    <div class="col-lg-12 col-sm-12">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_1.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_2.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_3.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_4.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_5.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <img class="img-responsive" src="~/Images/Inicial/blog/blog_6.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--start #2 blog modal-->
                    <div id="blog_2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_2" aria-hidden="true">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                    <div class="col-lg-6 video">
                                        <iframe src="http://player.vimeo.com/video/28959265?title=0&amp;byline=0&amp;portrait=0"></iframe>
                                    </div>
                                    <div class="col-lg-6">
                                        <h1>Vimeo Videos</h1>
                                        <p class="lead">
                                            Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy,
                                            it deosn't mttaer in waht oredr the ltteers in a wrod are,
                                            the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                </div>
                                <div class="content-divider"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h1>YouTube Videos</h1>
                                        <p class="lead">
                                            Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy,
                                            it deosn't mttaer in waht oredr the ltteers in a wrod are,
                                            the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 video">
                                        <iframe src="http://www.youtube.com/embed/2sz0mI_6tLQ"></iframe>
                                    </div>
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--start #3 blog modal-->
                    <div id="blog_3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_3" aria-hidden="true">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h1>Audio Post</h1>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="lead">
                                            Bacon swine leberkas, ham hock flank beef venison pork belly.
                                            Tongue capicola pork chop strip steak ribeye. Sausage short ribs ribeye kielbasa fatback jerky swine
                                            corned beef venison.
                                        </p>
                                        <blockquote>Awerest theme:</blockquote>
                                        <audio controls="controls">
                                            <source src="http://www.awerest.com/music/awerest.mp3" type="audio/mpeg" />
                                            <source src="http://www.awerest.com/music/awerest.ogg" type="audio/ogg" />
                                            Your browser does not support this audio
                                        </audio><br>
                                        <p>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="lead">
                                            Drop in axle roll-in rail slide noseblunt slide Steve Severin impossible.
                                            Darkslide street mute-air bail Independent goofy footed opposite footed. Steps sick lien air hanger.
                                        </p>
                                        <blockquote>Rap loop:</blockquote>
                                        <audio controls="controls">
                                            <source src="http://www.awerest.com/music/raploop.mp3" type="audio/mpeg" />
                                            <source src="http://www.awerest.com/music/raploop.ogg" type="audio/ogg" />
                                            Your browser does not support this audio
                                        </audio><br>
                                        <p>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                </div>
                                <div class="content-divider"></div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="lead">
                                            Nipperkin run a rig ballast chase Shiver me timbers col-lg-ish Main driver lass six pounders clipper.
                                            Nipperkin yawl col-lg-ish Main crimp Cat o'nine tails jib keelhaul topmast..
                                        </p>
                                        <blockquote>Far east:</blockquote>
                                        <audio controls="controls">
                                            <source src="http://www.awerest.com/music/fareast.mp3" type="audio/mpeg" />
                                            <source src="http://www.awerest.com/music/fareast.ogg" type="audio/ogg" />
                                            Your browser does not support this audio
                                        </audio><br>
                                        <p>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <p class="lead">
                                            Cask length filter pub, conditioning tank. Length crystal malt brew squares additive abbey
                                            craft beer biere de garde. Priming mouthfeel krausen wort cold filter bacterial.
                                        </p>
                                        <blockquote>Christmas:</blockquote>
                                        <audio controls="controls">
                                            <source src="http://www.awerest.com/music/christmas.mp3" type="audio/mpeg" />
                                            <source src="http://www.awerest.com/music/christmas.ogg" type="audio/ogg" />
                                            Your browser does not support this audio
                                        </audio><br>
                                        <p>
                                            <small>
                                                The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                                                Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.
                                                Awesomeness, true story!
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-lg-12 margin">
                                        <button type="button" class="previous" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                        <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                        <button type="button" class="forward" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end fourth section-->
    <!--start contact section-->
    <section id="contact" class="content no-header">
        <div class="container">
            <div class="content-divider"></div>
            <div class="row">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Contato</h1>
                    <p class="text-center">Entre em contato conosco por aqui.</p>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <form action="http://www.awerest.com/demo/syndicate/onepage/js/sendmail.php" class="form-inline" role="form" method="post" id="contactForm">
                            <div class="form-group col-lg-3 col-sm-6">
                                <label>Nome:</label>
                                <input type="text" name="name" value="" id="name" class="form-control">
                            </div>
                            <div class="form-group col-lg-3 col-sm-6">
                                <label>Email:</label>
                                <input type="text" name="email" value="" id="email" class="form-control">
                            </div>
                            <span class="honeypot">
                                <label>Assunto:</label>
                                <input type="text" name="last" value="" id="last">
                            </span>
                            <div class="form-group col-lg-3 col-sm-6">
                                <label>Assunto:</label>
                                <input type="text" name="message" value="" id="message" class="form-control">
                            </div>
                            <div class="form-group col-lg-3 col-sm-6">
                                <label>Menssagem</label>
                                <div class="message">
                                    <div class="alert"></div>
                                </div>
                                <button type="submit" value="Send" id="submit" class="btn btn-syndicate btn-block">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h3>Olá!</h3><br>
                    <blockquote>Ficaríamos muito felizes em conversar com você.</blockquote>
                    <br/>
                    <a class="btn btn-default" href="/Inicial/Register" title="Novo Anunciante" id="btnNovoAnunciante" name="btnNovoAnunciante">
                        Novo Anunciante
                    </a>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <h3>Visite-nos:</h3><br>
                    <blockquote>Rua Diamantina n:72 Sala:107 Centro Ipatinga MG</blockquote>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <h3>Emails:</h3><br>
                    <blockquote>Geral:<br> office@clicksicove.com.br<br> suporte:<br> support@clicksicove.com.br</blockquote>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <h3>Telefone:</h3><br>
                    <blockquote>0800 354 541 541</blockquote>
                </div>
            </div>
        </div>
    </section>
    <!--end contact section-->
    <!--start footer section-->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 margin copy">
                    <p>2014 &copy; Sicove</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-offset-2 margin social">
                    <a class="facebook" href="http://www.facebook.com/clicksicove" target="_blank">Facebook</a> /
                    <a class="twitter" href="http://www.facebook.com/clicksicove" target="_blank">Twitter</a> /
                    <a class="google" href="http://www.facebook.com/clicksicove" target="_blank">Google+</a> /
                    <a class="instagram" href="http://www.facebook.com/clicksicove" target="_blank">Instagram</a>
                </div>
            </div>
        </div>
    </section>
    <!--end footer section-->
    <!--start back to top button-->
    <a href="#intro" class="hidden-sm go-top" data-0="opacity: 0;" data-1000="opacity: 1;">Go Top</a>
    <!--end back to top button-->
    <!--start scripts - IMPORTANT: all scripts MUST be loaded after jquery-latest.js as now-->
    <!--latest jQuery-->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!--main bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!--enable responsive features in IE8-->
    <!--[if lte IE 8]>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--retina support-->
    <script src="js/retina.js" type="text/javascript"></script>
    <!--smooth scroll on page-->
    <script src="js/jquery.easing.js" type="text/javascript"></script>
    <!--responsive embed videos-->
    <script src="js/jquery.fitvids.min.js" type="text/javascript"></script>
    <!--custom scrollbar-->
    <script src="js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <!--carousel swipe-->
    <script src="js/jquery.touchwipe.min.js"></script>
    <!--animated elements-->
    <script src="js/skrollr.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/skrollr.ie.min.js"></script>
    <![endif]-->
    <!--página inicial tour-->
    <!--<script src="js/guideline.steps.js"></script>-->


    <script src="js/guideline.main.js"></script>


    <!--work / blog-->
    <script src="js/toucheffects.js"></script>
    <script src="js/modals.js"></script>
    <!--contact form-->
    <script src="js/jquery.form.js"></script>
    <!--menu close on select-->
    <script>
			if ($('.navbar-toggle:visible').length) {
				$('.navbar a').click(function () { $(".nav-collapse").collapse("hide") });
			}
    </script>
    <!--google analytics-->
    <!--custom script-->
    <script src="js/custom.js"></script>
    <!--end scripts-->
</body>
</html>