
<!DOCTYPE html>
<html>
<head>
    <title>MixClique - Tabela</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Classificados, publicidade, anúncios, ptc, clique, click, ganhe dinheiro, sicove, propaganda, apareça, crecimento ">
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Google Webfont -->
    <link href='http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,400italic,600,700,800,800italic' rel='stylesheet' type='text/css'>
    <!-- Main Css -->
    <link href="css/color5.css" rel="stylesheet" media="screen" id="color">
    <link href="css/demo.css" rel="stylesheet" >
    <!-- Font Icon -->
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <!-- Include only for MapSearch Page -->
    <link rel="stylesheet" href="css/ui.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Header Start -->
<header id="header">
    <div class="headerdetails">
        <div class="container"> <a class="logo pull-left" href="index.html"><img title="Anuncie no MixCLique" src="img/logo.png"></a>
            <div id="mainmenu"  class=" pull-right">
                <!-- Navigation -->
                <nav class="subnav">
                    <div class="menurelative"> <a class="btn btn-orange mainmenumobile">Menu</a>
                        <ul class="nav-pills mainmenucontain">
                            <li> <a class="active home submenu2">Sobre o MixClique</a>
                                <div class="submenu">
                                    <ul>
                                        <li> <a class="" title="Quem Somos" href="quem_somos.html">Quem Somos</a> </li>
                                        <li> <a class="" title="Como Funciona" href="como_funciona.html">Como Funciona</a> </li>
                                        <li> <a class="" title="Regulamentação" href="doc/politica.pdf">Política do MixClique</a> </li>
                                        <li> <a class="" title="Política de Proteção de Dados" href="doc/privacidade.pdf">Termos e Condições</a> </li>
                                    </ul>
                                </div>
                            </li>
                            <li> <a class="submenu2">Ganhe dinheiro clicando</a>
                                <div class="submenu">
                                    <ul class="pull-left">
                                        <li> <a class="" title="Veja Como" href="veja_como.html">Veja Como</a> </li>
                                        <li> <a class="" title="Faça seu Cadastro" href="cadastro.html">Cadastre-se</a> </li>
                                        <li> <a class="" title="Acesse o Gerenciador"href="escritorio.html">Escritório Virtual</a> </li>
                                        <li> <a class="" href="#"><img title="Veja os Detalhes" alt="" src="img/ad1.jpg" width="200"></a></li>
                                    </ul>
                                    <div id="topdeal">
                                        <h3>Top do momento</h3>
                                        <ul>
                                            <li> <img width="100" src="img/blog1.jpg" alt="Veja os Detalhes" title="Veja os Detalhes" class="pull-left"> <a class="title" href="blog.html">Samsung Galaxy Tab 3 T211 Tablet </a>
                                                <div class="blogdate"> <span class="blogicon"><i class="fa fa-calendar"></i> 5 de Outubro, 2014 </span> </div>
                                            </li>
                                            <li> <img width="100" src="img/blog2.jpg" alt="Veja os Detalhes" title="Veja os Detalhes" class="pull-left"> <a class="title" href="blog.html">Samsung Galaxy Tab 3 T211 Tablet </a>
                                                <div class="blogdate"> <span class="blogicon"><i class="fa fa-calendar"></i> 8 de Setembro, 2014 </span> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li> <a class="submenu2">Seja um Anunciante</a>
                                <div class="submenu">
                                    <ul>
                                        <li> <a class="" title="Seja um Anunciante" href="anuncie.html">Anuncie no MixClique </a> </li>
                                        <li> <a class="" title="Veja os Preços dos Anuncios" href="tabela.html">Tabela de Preços</a> </li>
                                        <li> <a class="" title="Baixe o Contrato" href="doc/teste.pdf">Contrato Geral</a> </li>
                                        <li> <a class="" title="Acesse o Gerenciador" href="escritorio.html">Escritório Virtual</a> </li>
                                    </ul>
                                </div>
                            </li>
                            <li> <a class="submenu2">Oportunidade de Negócios</a>
                                <div class="submenu">
                                    <ul>
                                        <li> <a class="" title="O que é Sicove do Brasil" href="http://www.sicove.com.br/">Conheça o Sicove</a> </li>
                                        <li> <a class="" title="Venda Publicidade" href="vendas.html">Venda Anuncios</a> </li>
                                        <li> <a class="" title="Preencha o Currículo" href="curriculo.html">Trabalhe Conosco</a> </li>
                                        <li> <a class="" title="Ajuda" href="suporte.html">Ajuda e Suporte</a> </li>
                                        <li> <a class="" title="Contato" href="contato.html">Fale Conosco</a> </li>
                                    </ul>
                                </div>
                            </li>
                            <!--<li> <a class="" href="contact.html">Contato</a> </li>-->
                            <li> <a class="" title="Perguntas mais Frequentes" href="faq.html">Faq</a> </li>
                        </ul>
                    </div>
                </nav>
                <div class="mt10 pull-right">
                    <!--Social -->
                    <div class="socialtop pull-right">
                        <ul class="pull-right">
                            <li><a class="tooltip-test" href="https://www.facebook.com/pages/Mixclique/522379434565002?fref=ts" target="_blank"  data-original-title="Facebook"  ><i class="fa fa-facebook"></i></a></li>
                            <li><a class="tooltip-test" href="https://twitter.com/mixcliquebrasil" target="_blank"  data-original-title="Twitter"  ><i class="fa fa-twitter"></i></a></li>
                            <li><a class="tooltip-test"  data-original-title="LinkedIn"  ><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="tooltip-test" href="https://plus.google.com/107089634860888528230" target="_blank"  data-original-title="Google Plus"  ><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="tooltip-test" href="http://www.pinterest.com/mixclique" target="_blank"  data-original-title="Pinterest"  ><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="tooltip-test" href="https://www.flickr.com/photos/128584834@N06" target="_blank" data-original-title="Flickr"  ><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div>
                    <!--Top Search -->

                    <div class="email"> <i class="fa fa-envelope-o"></i> Email : <a href="maito:contato@mixclique.com.br" class="black">contato@mixclique.com.br</a></div>
                    <div class="call"><i class="fa fa-phone"></i> LigueMix : <span class="black"><a href="tel:0313136160917">31 3616.0917</a> </span></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<div id="maincontainer">
<!-- Slider Start-->


<section id="searchmap searchmap-interna">


    <section id="searchinner" class="searchinner-interna">
        <div class="container">
            <div class="searchcontianer">
                <form class="form-inline">
                    <div class="btn-group" id="search-group">

                        <input type="text" id="keyword" name="keyword" value="" placeholder="Pesquisar produto" class="form-control mainserarch" />
                        <select id="category" name="category">
                            <option value="">Selecione a categoria</option>
                            <option value="Real Estate">Automóveis</option>
                            <option value="Jobs">Casa e Lazer</option>
                            <option value="Personal">PetShop</option>
                            <option value="Computers">Construção</option>
                            <option value="Beauty">Eletrônicos</option>
                            <option value="Hobbies">Lazer</option>
                            <option value="Movies">Brinquedos</option>
                            <option value="Health">cama</option>
                        </select>
                        <input type="button" id="searchmapbutton" name="Pesquisar" value="Pesquisar" class="btn btn-orange tooltip-test mainserarchsubmit"/>
                    </div>
                </form>
            </div>
        </div>
        <a href="post-ad.html" class="postad"><span> <i class="fa fa-pencil"></i>anuncie aqui</span></a>

</section>
<!-- Slider End-->
<!-- SEO Line-->




    <div class="container mt40 mt-normal">


        <div class="col-lg-12">

            <div class="col-lg-9">
                <h2 class="heading3">Tabela de Preços</h2>
                <div class="mt40">
                    <ul class="row clearfix fix-interna">



                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-border">
                <img class="img-responsive" src="img/gallery_7.jpg">
                <img class="img-responsive" src="img/gallery_8.jpg">
                <img class="img-responsive" src="img/gallery_9.jpg">
                <img class="img-responsive" src="img/gallery_10.jpg">
                <img class="img-responsive" src="img/gallery_11.jpg">
                <img class="img-responsive" src="img/gallery_12.jpg">
                <img class="img-responsive" src="img/gallery_13.jpg">
                <img class="img-responsive" src="img/gallery_14.jpg">
                <img class="img-responsive" src="img/gallery_15.jpg">
            </div>


        </div>


    </div>



<div class="container">
    <h2 class="heading3">Lista patrocinada</h2>
    <!-- Listing-->
    <div class="mt40" id="serchlist">
        <div class="searchresult grid">
            <ul class="mt30 clearfix row">
                <li class="col-sm-3">
                    <div class="searchgrid"> <a class="thumbnail" href="detail.html"><img src="img/product1.jpg" alt=""></a>
                        <div class="featured">Nível 3</div>
                        <div>
                            <h3><a class="title" href="#">Samsung Galaxy Tab 3 T211 Tablet </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-th-list"></i> Categoria : <a href="#">Telefone</a></li>
                                <li><i class="fa fa-map-marker"></i> local : Salvador, BA</li>
                                <li><i class="fa fa-calendar pontosvermelhos"></i> Pontuação: 0,05pts </li>
                                <li><i class="fa fa-user"></i> Postado por : <a href="#">pxcreate</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="share"> Compartilhe : <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a> </div>
                            <a class="btn  contact">Hot-Site</a> </div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="searchgrid"> <a class="thumbnail" href="detail.html"><img src="img/product2.jpg" alt=""></a>
                        <div class="latest">Nível 2</div>
                        <div>
                            <h3><a class="title" href="#">Samsung Galaxy Tab 3 T211 Tablet </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-th-list"></i> Categoria : <a href="#">Telefone</a></li>
                                <li><i class="fa fa-map-marker"></i> local : Salvador, BA</li>
                                <li><i class="fa fa-calendar pontosvermelhos"></i> Pontuação: 0,05pts </li>
                                <li><i class="fa fa-user"></i> Postado por : <a href="#">pxcreate</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="share"> Compartilhe : <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a> </div>
                            <a class="btn  contact">Hot-Site</a> </div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="searchgrid"> <a class="thumbnail" href="detail.html"><img src="img/product3.jpg" alt=""></a>
                        <div>
                            <h3><a class="title" href="#">Samsung Galaxy Tab 3 T211 Tablet </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-th-list"></i> Categoria : <a href="#">Telefone</a></li>
                                <li><i class="fa fa-map-marker"></i> local : Salvador, BA</li>
                                <li><i class="fa fa-calendar pontosvermelhos"></i> Pontuação: 0,05pts </li>
                                <li><i class="fa fa-user"></i> Postado por : <a href="#">pxcreate</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="share"> Compartilhe : <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a> </div>
                            <a class="btn  contact">Hot-Site</a> </div>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="searchgrid"> <a class="thumbnail" href="detail.html"><img src="img/product1.jpg" alt=""></a>
                        <div class="featured">Nível 3</div>
                        <div>
                            <h3><a class="title" href="#">Samsung Galaxy Tab 3 T211 Tablet </a></h3>
                            <ul class="icondetail">
                                <li><i class="fa fa-th-list"></i> Categoria : <a href="#">Telefone</a></li>
                                <li><i class="fa fa-map-marker"></i> local : Salvador, BA</li>
                                <li><i class="fa fa-calendar pontosvermelhos"></i> Pontuação: 0,05pts </li>
                                <li><i class="fa fa-user"></i> Postado por : <a href="#">pxcreate</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="share"> Compartilhe : <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a> </div>
                            <a class="btn  contact">Hot-Site</a> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


    <div class="container mt40">
        <div class="container">
            <h2 class="heading3">Social</h2>
            <div class="mt40" id="social">
                <ul class="row clearfix">
                    <li class="col-md-3 col-sm-3">
                        <h5 class="heading5">Twitter</h5>
                        <div id="twitter"><ul class="tweet_list"><li class="tweet_first tweet_odd"><a class="tweet_avatar" href="http://twitter.com/twitter"><img src="http://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_normal.png" height="32" width="32" alt="twitter's avatar" title="twitter's avatar" border="0"></a><span class="tweet_time"><a href="http://twitter.com/twitter/status/519540931461005312" title="view tweet on twitter">about 3 days ago</a></span> <span class="tweet_join"></span> <span class="tweet_text">Today we're taking legal action to provide more <a href="http://search.twitter.com/search?q=&amp;tag=transparency&amp;lang=all" class="tweet_hashtag">#transparency</a> to our users about requests from the US government. <a href="https://blog.twitter.com/2014/taking-the-fight-for-transparency-to-court">blog.twitter.com/2014/taking-th…</a></span></li><li class="tweet_even"><a class="tweet_avatar" href="http://twitter.com/twitter"><img src="http://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx_normal.png" height="32" width="32" alt="twitter's avatar" title="twitter's avatar" border="0"></a><span class="tweet_time"><a href="http://twitter.com/twitter/status/517712695496155136" title="view tweet on twitter">about 9 days ago</a></span> <span class="tweet_join"></span> <span class="tweet_text">Now it's easier to enjoy photos on Twitter for Mac. Share pics in messages, view/post up to 4 pics in Tweets: <a href="https://itunes.apple.com/us/app/twitter/id409789998?mt=12">itunes.apple.com/us/app/twitter…</a></span></li></ul></div>
                    </li>
                    <li class="col-md-3 col-sm-3 mt40column">
                        <h5 class="heading5">Flickr</h5>
                        <div class="social-feed flickr-feed">
                            <img src="img/photo1.jpg" alt="" title="">
                            <img src="img/photo2.jpg" alt="" title="">
                            <img src="img/photo3.jpg" alt="" title="">
                            <img src="img/photo4.jpg" alt="" title="">
                            <img src="img/photo4.jpg" alt="" title="">
                            <img src="img/photo2.jpg" alt="" title="">
                            <img src="img/photo1.jpg" alt="" title="">
                            <img src="img/photo3.jpg" alt="" title="">
                            <img src="img/photo1.jpg" alt="" title="">
                            <img src="img/photo2.jpg" alt="" title="">
                            <img src="img/photo3.jpg" alt="" title="">
                            <img src="img/photo4.jpg" alt="" title="">
                            <img src="img/photo2.jpg" alt="" title="">
                            <img src="img/photo4.jpg" alt="" title="">
                            <img src="img/photo3.jpg" alt="" title="">
                            <img src="img/photo1.jpg" alt="" title="">
                            <ul class="flickr-list"></ul></div>
                    </li>
                    <li class="col-md-3 col-sm-3 mt40column">
                        <h5 class="heading5">Youtube</h5>
                        <div class="social-feed youtube-feed">
                            <ul class="youtube-list">




                            </ul></div>
                    </li>
                    <li class="col-md-3 col-sm-3 mt40column">
                        <h5 class="heading5">Facebook</h5>
                        <div class="">
                            <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div>

                            </div>
                            </div>
                                <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                                    <div>
                                        <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/KFZn1BJ0LYk.js?version=41#channel=f2d0443774&amp;origin=http%3A%2F%2Fwww.pxcreate.com" style="border: none;">

                                        </iframe>
                                        <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/KFZn1BJ0LYk.js?version=41#channel=f2d0443774&amp;origin=http%3A%2F%2Fwww.pxcreate.com" style="border: none;">

                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/facebook" data-width="240" data-show-faces="true" data-colorscheme="light" data-stream="false" data-show-border="false" data-header="false" data-height="240" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;color_scheme=light&amp;header=false&amp;height=240&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;width=240"><span style="vertical-align: bottom; width: 240px; height: 240px;"><iframe name="f27aea448c" width="240px" height="240px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FKFZn1BJ0LYk.js%3Fversion%3D41%23cb%3Df2733b24f8%26domain%3Dwww.pxcreate.com%26origin%3Dhttp%253A%252F%252Fwww.pxcreate.com%252Ff2d0443774%26relation%3Dparent.parent&amp;color_scheme=light&amp;header=false&amp;height=240&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false&amp;width=240" style="border: none; visibility: visible; width: 240px; height: 240px;" class="">

                            </iframe>
                        </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- Newsletter-->
<section class="mt40 newsletter" id="newslettersignup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="pull-left ">
                    <h5 class="heading5 borderbottm">Mala direta</h5>
                    Cadastre seu email para receber novidades MixClique </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="pull-right mt20 surbscribeform">
                    <form class="form-inline">
                        <div class="input-prepend">
                            <input type="text" class="subscribeinput" id="inputIcon" placeholder="Digite aqui seu email">
                            <input type="submit" class="btn btn-orange" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
    <footer id="footer">
        <section id="quicklink">
            <div class="container">
                <div class="row">
                    <ul class="quicklinks">
                        <li> <a class="active home" href="index.html">A empresa</a> </li>
                        <li> <a class="" href="listing.html">Ganhe dinheiro clicando</a> </li>
                        <li> <a class="" href="detail.html">anuncie</a> </li>
                        <li> <a class="" href="login.html">oportunidade de negócio</a> </li>
                        <li> <a class="" href="register.html">contato</a> </li>
                        <li> <a class="" href="account.html">Faq</a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="copyrightbottom">
            <div class="container">
                <div class="row">
                    <div class="pull-left"> Copyright © 2014 Mixclique. Todos os direitos reservados à  do Brasil. </div>
                    <div class="pull-right"><a href="www.seeatecnologia.com.br" target="_blank">Seea</a></div>
                </div>
            </div>
        </section>
    </footer>
<!-- Got to top -->
<div> <a id="gotop"><i class="fa fa-arrow-circle-up"></i></a> </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- include jQuery + carouFredSel plugin -->
<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
<!-- Flex slider Blog-->
<script src="js/jquery.flexslider.js"></script>
<!-- Jquery zoom on detail page-->
<script  src="js/zoomsl-3.0.min.js"></script>
<!-- Jquery Validation-->
<script  type="text/javascript" src="js/jquery.validate.js"></script>
<!-- Jquery Latest Tweet-->
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<!-- Jquery Countdown-->
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<!-- Social -->
<script type="text/javascript" src="js/socialstream.jquery.js"></script>
<!-- Jquery Map -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/jquery.gmap.js"></script>
<!-- Sparkline -->
<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
<!-- Cloud -->
<script type="text/javascript" src="js/jqcloud-1.0.4.js"></script>
<!-- Ratina View -->
<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- Include only for MapSearch Page -->
<script src="js/jquery.ui.core.min.js"></script>
<script src="js/jquery.ui.widget.min.js"></script>
<script src="js/jquery.ui.position.min.js"></script>
<script src="js/jquery.ui.autocomplete.min.js"></script>
<script src="js/map.js"></script>
<!-- Style Switcher -->
<script type="text/javascript" src="js/jquery.style-switcher.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#styleswitch').styleSwitcher();
        $("#styleswitch h3").click(function () {
            if($(this).parent().css("left") == "-200px"){
                $(this).parent().animate({left:'0px'}, {queue: false, duration: 500});
            } else {
                $(this).parent().animate({left:'-200px'}, {queue: false, duration: 500});
            }
        });
    });
</script>
</body>
</html>
