.edit-tamanho {                         /* classe para adequar o tamanho da logo da sicove no topo. */
    max-width: 56%;
    margin-left: 21%;
    margin-top: -3%;
}

.warper_mudado {
    margin: 50px 0 0;
}

.edit-tamanho-cadastro {
    max-width: 70%;
    margin-top: -4%;
}

.upload-botao {
    margin-top: -12px;
}

.padding-bottom-onoff {
    padding-bottom: 20px;
}


thead.rodape-tabela {
    border-top: 2px solid #DDD;
    border-bottom-style: hidden;
}

.flutuar {
    margin-left: 10px;
}

.input-append {
    
}

.color-theme {
    color: #54677A;
}