@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Diamantina - Centro<br />
    Ipatinga, MG 35160-000<br />
    <abbr title="Phone">P:</abbr>
    Tel: (31) 0000-0000
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:contato@sicove.com.br">contato@sicove.com.br</a><br />    
</address>