@using System.Web.UI.WebControls
@model Cliquemix.Models.tbCredito

<script type="text/javascript">
    function detalhesCredito() {
        $.ajax(
        {
            type: 'GET',
            url: '/Credito/DetalhesCredito/?pCodPacote='+ $("input[id='tcod']").val(),
            dataType: 'html',
            cache: false,
            async: true,
            success: function(data) {
                $('#detalhesCredito').html(data);
            }
        });
    }

    function AtualizaCod() {
        var obj = document.getElementById("crid");
        $("input[id='tcod']").val(obj.options[obj.selectedIndex].value);
        detalhesCredito();
    };

</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Créditos</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Credito.cshtml")
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="portlet-title">
            <h4 class="flutuar">Comprar Créditos</h4>
        </div>
        <div class="clearfix"></div>
        <br />
    </div>

    
    <div class="form-group col-lg-12">
        @Html.Label("Selecione o Pacote")
        <div class="clearfix"></div>
        @Html.DropDownListFor(model => model.crid, null, string.Empty, new { style = "width:300px; height:34px", onchange = "AtualizaCod();" })
        @Html.Hidden("tcod")
        <br />
        <div class="form-group" id="detalhesCredito">
            <div class="row pricing-circle">
                <div class="col-md-3">
                @{
                    Html.RenderPartial("DetalhesCredito");
                }
                @* Informa os detalhes do pacote de créditos *@
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="form-group" style="margin-left:0%;">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-usd"></i>
                Comprar
            </button>
        </div>

        <div class="col-lg-12">
        </div>
    </div>


</div>
