<!-- Logout Notification Box -->
<div id="logout">
    <div class="logout-message">
        <img class="img-circle img-logout" src="~/fonts/img/profile-pic.jpg" alt="">
        <h3>
            <i class="fa fa-sign-out text-green"></i> <p>Pronto para sair?</p>
        </h3>
        <p>Selecione "Sair" se você estiver pronto<br> para terminar a sua sessão.</p>
        @using (Html.BeginForm())
        {            
            <ul class="list-inline">                
                <li>                
                    <button class="logout_close btn btn-green">Cancelar</button>
                </li>
                <li>
                    <input type="submit" name="btnlogout" class="btn btn-lg btn-green btn-block"/>
                </li>
            </ul>
            @Html.ValidationSummary()
        }
    </div>
</div>
<!-- /#logout -->
