<!-- Logout Notification Box -->
<div id="logout">
    <div class="logout-message">
        <img class="img-circle img-logout" src="~/fonts/img/profile-pic.jpg" alt="">
        <h3>
            <i class="fa fa-sign-out text-green"></i> <p>Pronto para sair?</p>
        </h3>
        <p>Selecione "Sair" se você estiver pronto<br> para terminar a sua sessão.</p>
        <ul class="list-inline">
            <li>
                <a href="login.html" class="btn btn-green">
                    <strong>Sair</strong>
                </a>
            </li>
            <li>
                <button class="logout_close btn btn-green">Cancelar</button>
            </li>
        </ul>
    </div>
</div>
<!-- /#logout -->