@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity

<script>
    setTimeout(
        function() {
            $.ajax(
            {
                type: 'GET',
                url: '/PerfilAnunciante/PerfilAnunciantePrincipal',
                dataType: 'html',
                cache: true,
                async: true,
                success: function(data) {
                    $('#PerfilAnunciantePrincipal').html(data);
                }
            });
        }, 20);

    function AvisoEditarPerfil(tipo) {
        var desc = null;
        if (tipo == 1) {
            desc = "Os Dados da Empresa foram atualizados com sucesso!";
        }
        else if (tipo == 2) {
            desc = "Os Dados de Contato foram atualizados com sucesso!";
        }
        else if (tipo == 3) {
            desc = "Os Dados de Endereço foram atualizados com sucesso!";
        }
        else if (tipo == 4) {
            desc = "Os Dados de Usuário foram atualizados com sucesso!";
        }
        else {
            desc = "Não foi possível atualizar as informações.";
        }
        if ((tipo > 0) && (tipo <= 4)) {
            setTimeout(function() {
                success_message_demo(desc);
            }, 1000);
        }
        else {
            setTimeout(function () {
                erro_message_demo(desc);
            }, 1000);
        }

    }

    function limparAviso() {
        Messenger().hideAll();
    }

    function erro_message_demo(erro) {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: erro,
            type: 'error',
            showCloseButton: true
        });
    };

    function success_message_demo(aviso) {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        Messenger().post({
            message: aviso,
            type: 'success',
            showCloseButton: true
        });
    }

</script>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Perfil</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Anunciante-Perfil.cshtml")
        </div>
    </div>
</div>

@if (ViewBag.AvisoPerfil == "1") //
{
    <script type="text/javascript">AvisoEditarPerfil(1);</script>
}
else if (ViewBag.AvisoPerfil == "2")
{
    <script type="text/javascript">AvisoEditarPerfil(2);</script>
}
else if (ViewBag.AvisoPerfil == "3")
{
    <script type="text/javascript">AvisoEditarPerfil(3);</script>
}
else if (ViewBag.AvisoPerfil == "4")
{
    <script type="text/javascript">AvisoEditarPerfil(4);</script>
}
else if (ViewBag.AvisoPerfil == "0")
{
    <script type="text/javascript">AvisoEditarPerfil(0);</script>
}


<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-default" id="PerfilAnunciantePrincipal">
            @{
                Html.RenderPartial("PerfilAnunciantePrincipal");
            }
        </div>
    </div>
</div>

