<html>
    <head>
        <title>Carregador</title>
    </head>

    @using (Html.BeginForm())
    {
        <input type="text" id="s" name="s" value="1"/>
        <button type="submit" id="salvar" name="salvar">Salvar</button>
    }
</html>