<script>
    $(document).ready(function () {
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
    });
</script>


<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Anunciante
                <small>Criar Campanha</small>
            </h1>
            @RenderPage("~/Views/Breadcrumbs/Breadcrumbs-Campanha.cshtml")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-body">
                <ul id="userTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#profile-settings" data-toggle="tab">Cadastro de Campanha</a>
                    </li>
                </ul>
                <div id="userTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="profile-settings">
                        <div class="row">
                            <div class="col-sm-3">
                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="#infoBasico" data-toggle="tab" id="lnk1"><i class="fa fa-info-circle fa-fw"></i> Informações</a>
                                    </li>
                                    <li>
                                        <a href="#infoAnun" data-toggle="tab" id="lnk2"><i class="fa fa-thumb-tack fa-fw"></i> Vincular Anúncios</a>
                                    </li>
                                    <li>
                                        <a href="#infoCli" data-toggle="tab" id="lnk3"><i class="fa fa-hand-o-down fa-fw"></i> Quantidade de Cliques</a>
                                    </li>

                                    <li>
                                        <a href="#infoGL" data-toggle="tab" id="lnk4"><i class="fa fa-globe fa-fw"></i> Geo Localização</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-9">
                                <div id="userSettingsContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="infoBasico">
                                        <form role="form">
                                            <h4 class="page-header">Informações da Campanha:</h4>
                                            <div class="form-group col-lg-6">
                                                <label>Título</label>
                                                <input type="text" class="form-control" value="" style="max-width: 334px">
                                            </div>
                                            
                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-3">
                                                    <label>Data de Início</label>
                                                    <div id="sandbox-container">
                                                        <div class="input-group">
                                                            @*<span class="input-group-addon  btn btn-default add-on"><i class="fa fa-calendar"></i></span>*@
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default add-on " type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                            <input class="form-control datepicker" type="text" style="max-width: 100px;" />
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="form-group col-lg-3">
                                                <label>Hora de Início</label>
                                                <div class="input-append bootstrap-timepicker input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default add-on" type="button">
                                                            <i class="fa fa-clock-o"></i>
                                                        </button>
                                                    </span>
                                                    <input id="timepicker1" class="form-control timepicker" type="text" style="max-width: 100px;" />
                                                </div>
                                            </div>
                                            
                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-3">
                                                <label>Data de Término</label>
                                                <div id="sandbox-container">
                                                    <div class="input-group">
                                                        @*<span class="input-group-addon  btn btn-default add-on"><i class="fa fa-calendar"></i></span>*@
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default add-on " type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        <input class="form-control datepicker" type="text" style="max-width: 100px;" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-3">
                                                <label>Hora de Término</label>
                                                <div class="input-append bootstrap-timepicker input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default add-on" type="button">
                                                            <i class="fa fa-clock-o"></i>
                                                        </button>
                                                    </span>
                                                    <input id="timepicker1" class="form-control timepicker" type="text" style="max-width: 100px;" />
                                                </div>
                                            </div>


                                            <div class="col-sm-offset-10 col-sm-1">
                                                <button type="button" onclick="$('#lnk2').click();" class="btn btn-default">Próximo</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    
                                    <div class="tab-pane fade in" id="infoAnun">

                                        <form role="form">
                                            <h4 class="page-header">Vincular anúncios à campanha:</h4>


                                            <div class="page-header upload-botao">
                                                <a href="#" title="Adicionar anúncio" style="padding-right: 82px;">
                                                    <i id="add" class="fa  fa-plus-square fa-2x"></i>
                                                    <label style="float:right; margin-right:87%; margin-top:0.5%">Adicionar</label>
                                                </a>
                                            </div>




                                            <div class="row">
                                                <!-- Basic Responsive Table -->
                                                <div class="col-lg-12">
                                                    <div class="portlet portlet-default">
                                                        <div class="portlet-heading">
                                                            <div class="portlet-title">

                                                                <h4 class="flutuar">Lista de Anúncios</h4>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">#</th>
                                                                            <th class="text-center">Título</th>
                                                                            <th class="text-center">Ramo</th>
                                                                            <th class="text-center">Video</th>
                                                                            <th class="text-center">Imagem</th>
                                                                            <th class="text-center">Data</th>
                                                                            <th class="text-center">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="text-center">1</td>
                                                                            <td class="text-center">Tecidos Bahia</td>
                                                                            <td class="text-center">Roupa</td>
                                                                            <td class="text-center">Sim</td>
                                                                            <td class="text-center">Sim</td>
                                                                            <td class="text-center">28/11/2013</td>
                                                                            <td class="text-center">
                                                                                
                                                                                <a href="#" title="Excluir">
                                                                                    <i class="fa fa-times"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">2</td>
                                                                            <td class="text-center">B & Gamma</td>
                                                                            <td class="text-center">TI</td>
                                                                            <td class="text-center">Não</td>
                                                                            <td class="text-center">Sim</td>
                                                                            <td class="text-center">28/01/2014</td>
                                                                            <td class="text-center">
                                                                                <a href="#" title="Excluir">
                                                                                    <i class="fa fa-times"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">3</td>
                                                                            <td class="text-center">Pasta Dent..</td>
                                                                            <td class="text-center">Odontologia</td>
                                                                            <td class="text-center">Sim</td>
                                                                            <td class="text-center">Não</td>
                                                                            <td class="text-center">11/04/2014</td>
                                                                            <td class="text-center">
                                                                                <a href="#" title="Excluir">
                                                                                    <i class="fa fa-times"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    <thead class="rodape-tabela">
                                                                        <tr>
                                                                            <th class="text-center">#</th>
                                                                            <th class="text-center">Título</th>
                                                                            <th class="text-center">Ramo</th>
                                                                            <th class="text-center">Video</th>
                                                                            <th class="text-center">Imagem</th>
                                                                            <th class="text-center">Data</th>
                                                                            <th class="text-center">Ações</th>
                                                                        </tr>
                                                                    </thead>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.portlet -->
                                                </div>
                                            </div>


                                            <div class="row">
                                                

                                            </div>



                                            <div class="form-group col-lg-offset-9">
                                                <button type="button" onclick="$('#lnk1').click();" class="btn btn-default">Anterior</button>
                                                <button type="button" onclick="$('#lnk3').click();" class="btn btn-default">Próximo</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    
                                    
                                    

                                    <div class="tab-pane fade" id="infoCli">
                                        <br>
                                        <form role="form">
                                            <h4 class="page-header">Quantidades de cliques que o usuário poderá clicar por anúncio:</h4>
                                            <div class="form-group col-lg-6">
                                                <label class="">Quantas vezes?</label>
                                                <select class="form-control">
                                                    <option>Selecione</option>
                                                    <option>10</option>
                                                    <option>20</option>
                                                    <option>30</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-lg-offset-6">

                                            </div>
                                            
                                            <div class="clearfix"></div>
                                            
                                            <div class="form-group col-lg-offset-9">

                                                <button type="button" onclick="$('#lnk2').click();" class="btn btn-default">Anterior</button>
                                                <button type="button" onclick="$('#lnk4').click();" class="btn btn-default">Próximo</button>
                                            </div>
                                        </form>
                                    </div>

                                   

                                    <div class="tab-pane fade in" id="infoGL">
                                        <form role="form">
                                            <h4 class="page-header">Aonde seus anúncios irão ser exibidos?</h4>
                                            <div class="form-group col-lg-12 ">

                                                
                                            </div>


                                            <div class="col-lg-9">
                                                <label style="color:#34495E;">País</label>

                                                <table style='width:370px;'>
                                                    <tr>
                                                        <td style='width:160px;'>
                                                           
                                                            <select multiple="multiple" id='lstBox1'>
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Brasil">Brasil</option>
                                                                <option value="Estados Unidos">Estados Unidos</option>
                                                            </select>
                                                        </td>

                                                        <td style='width:50px;text-align:center;vertical-align:middle; padding-right:27px;'>
                                                            <input type='button' id='btnRight' value='  >  ' />
                                                            <br /><input type='button' id='btnLeft' value='  <  ' />
                                                        </td>
                                                        <td style='width:160px;'>
                                                           
                                                            <select multiple="multiple" id='lstBox2'>
                                                                <option value="Espanha">Espanha</option>
                                                                <option value="Portugual">Portugal</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="col-lg-9">
                                                <br />
                                                <label style="color:#34495E;">Estado</label>

                                                <table style='width:370px;'>
                                                    <tr>
                                                        <td style='width:160px;'>

                                                            <select multiple="multiple" id='lstBox1'>
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Brasil">Brasil</option>
                                                                <option value="Estados Unidos">Estados Unidos</option>
                                                            </select>
                                                        </td>

                                                        <td style='width:50px;text-align:center;vertical-align:middle; padding-right:27px;'>
                                                            <input type='button' id='btnRight' value='  >  ' />
                                                            <br /><input type='button' id='btnLeft' value='  <  ' />
                                                        </td>
                                                        <td style='width:160px;'>

                                                            <select multiple="multiple" id='lstBox2'>
                                                                <option value="Espanha">Espanha</option>
                                                                <option value="Portugual">Portugal</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>


                                            <div class="col-lg-9">
                                                <br />
                                                <label style="color:#34495E;">Cidade</label>

                                                <table style='width:370px;'>
                                                    <tr>
                                                        <td style='width:160px;'>

                                                            <select multiple="multiple" id='lstBox1'>
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Brasil">Brasil</option>
                                                                <option value="Estados Unidos">Estados Unidos</option>
                                                            </select>
                                                        </td>

                                                        <td style='width:50px;text-align:center;vertical-align:middle; padding-right:27px;'>
                                                            <input type='button' id='btnRight' value='  >  ' />
                                                            <br /><input type='button' id='btnLeft' value='  <  ' />
                                                        </td>
                                                        <td style='width:160px;'>

                                                            <select multiple="multiple" id='lstBox2'>
                                                                <option value="Espanha">Espanha</option>
                                                                <option value="Portugual">Portugal</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>




                                            <div class="clearfix"></div>

                                            <div class="form-group col-lg-12"></div>
                                            <div class="form-group col-lg-12"></div>
                                            <div class="form-group col-lg-12"></div>



                                            <div class="form-group col-lg-offset-9">
                                                <button type="button" onclick="$('#lnk3').click();" class="btn btn-default">Anterior</button>
                                                <button type="submit" class="btn btn-default" id="save" value="save">
                                                    <i class="fa fa-floppy-o"></i>
                                                    Salvar
                                                </button>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->

    </div>
    <!-- /.col-lg-12 -->
</div>
             