@using System.Globalization
@model IEnumerable<Cliquemix.Models.tbDestaque>

@try
{
    foreach (var item in Model)
    {
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4 style="align-content: center;">Informações do Destaque</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <h3>Popover Demo</h3>
                <h3>Popover Directions</h3>
            </div>
        </div>
    }
}
catch (Exception)
{
    <br /><br />
}