<div class="row">
    <!-- begin LEFT COLUMN -->
    <div class="col-lg-3">
        <div class="row">
            <!-- Basic Form Example -->
            <div class="col-lg-12">
                <div class="portlet portlet-default" style="margin-top:2%;" >
                    <div class=" portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-clock-o"></i> Temporada</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="#daTemporada"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                    <div id="daTemporada" class="panel-collapse collapse in">
                        <div class="portlet-body" style="min-height:252px;">
                            <form role="form">
                                <div class="form-group">
                                    <i class="fa fa-thumbs-o-up color-theme"></i>
                                    <label for="dtInicio" class="control-label">Início</label>
                                    <input id="dtInicio" type="text" class="form-control" value="12/11/2013  15:30:00">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-thumbs-o-down color-theme"></i>
                                    <label for="dtTermino" class="control-label">Término</label>
                                    <input id="dtTermino" type="text" class="form-control " value="12/12/2013  15:30:00">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="row">
            <!-- Basic Form Example -->
            <div class="col-lg-12">
                <div class="portlet portlet-default" style="margin-top:2%;">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="fa fa-star"></i> Destaque</h4>
                        </div>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion" href="#doPacote"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="doPacote" class="panel-collapse collapse in">
                        <div class="portlet-body" >
                            <form role="form">
                            <div class="form-group">
                                <i class="fa fa-dropbox color-theme"></i>
                                <label for="">Pacote</label>
                                <input type="text" class="form-control" value="Básico">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-clock-o color-theme"></i>
                                <label for="">Tempo de Espera</label>
                                <input type="text" class="form-control" value="30 s">
                            </div>

                            <div class="form-group">
                                <i class="fa  fa-hand-o-down color-theme"></i>
                                <label for="">Qt. Max Cliques</label>
                                <input type="text" class="form-control" value="1000">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="row">
            <!-- Basic Form Example -->
            <div class="col-lg-12">
                <div class="portlet portlet-default" style="margin-top:2%;">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="glyphicon glyphicon-copyright-mark"></i> Créditos</h4>
                        </div>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion" href="#doCredito"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="doCredito" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <form role="form">
                                <div class="form-group">
                                    <i class="glyphicon glyphicon-copyright-mark color-theme"></i>
                                    <label for="">Créditos depositados</label>
                                    <input type="text" class="form-control" value="200.0">
                                </div>
                                <div class="form-group">
                                    <i class="glyphicon glyphicon-copyright-mark color-theme"></i>
                                    <label for="">Créditos consumidos</label>
                                    <input type="text" class="form-control" value="50.0">
                                </div>

                                <div class="form-group">
                                    <i class="glyphicon glyphicon-copyright-mark color-theme"></i>
                                    <label for="">Créditos Restantes</label>
                                    <input type="text" class="form-control" value="150.0">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="row">
            <!-- Basic Form Example -->
            <div class="col-lg-12">
                <div class="portlet portlet-default" style="margin-top:2%;">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="fa fa-hand-o-down"></i> Cliques</h4>
                        </div>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion" href="#doClique"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="doClique" class="panel-collapse collapse in">
                        <div class="portlet-body" style="min-height:253px;">
                            <form role="form">
                                <div class="form-group">
                                    <i class="fa fa-hand-o-down color-theme"></i>
                                    <label for="">Cliques efetuados</label>
                                    <input type="text" class="form-control" value="953">
                                </div>

                                <div class="form-group">
                                    <i class="fa fa-hand-o-down color-theme"></i>
                                    <label for="">Cliques restantes</label>
                                    <input type="text" class="form-control" value="47">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            

<div class="row">
    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">

                    <h4 class="flutuar"><i class="fa fa-list-alt"></i> Lista de Anúncios</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Ramo</th>
                                <th class="text-center">Video</th>
                                <th class="text-center">Imagem</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Tecidos Bahia</td>
                                <td class="text-center">Roupa</td>
                                <td class="text-center">Sim</td>
                                <td class="text-center">Sim</td>
                                <td class="text-center">
                                    <a href="#" title="Visualizar" style="padding-right: 10px;">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">B & Gamma</td>
                                <td class="text-center">TI</td>
                                <td class="text-center">Não</td>
                                <td class="text-center">Sim</td>
                                <td class="text-center">
                                    <a href="#" title="Visualizar" style="padding-right: 10px;">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">Pasta Dent..</td>
                                <td class="text-center">Odontologia</td>
                                <td class="text-center">Sim</td>
                                <td class="text-center">Não</td>
                                <td class="text-center">
                                    <a href="#" title="Visualizar" style="padding-right: 10px;">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                        <thead class="rodape-tabela">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Ramo</th>
                                <th class="text-center">Video</th>
                                <th class="text-center">Imagem</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.portlet -->
    </div>
</div>

<div class="form-group col-lg-offset-11">

    <button type="button" class="btn btn-default" id="save" value="save" style="margin-left:19%;">
        Fechar
    </button>
</div>







   
