@using System.Web.Configuration
@using Microsoft.AspNet.Identity;

@{
    string a = string.Empty;
}

<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle" src="~/fonts/img/profile-pic.jpg" alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logado como 
                </p>
                <p class="name tooltip-sidebar-logout">                   
                    <span class="last-name">

                        @if (Request.IsAuthenticated)
                        {
                            @Html.Label(User.Identity.GetUserName());
                        }
                        
                        <a class="logout_open" style="color: inherit" title="Logout" href="~/Account/Logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </span>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->
           
            <!-- begin DASHBOARD LINK -->
            <li>                
                <a href="~/PrincipalAnunciante/PrincipalAnunciante">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <!-- end DASHBOARD LINK -->
            <!-- begin CHARTS DROPDOWN -->
            <li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#anuncios">
                    <i class="fa fa-picture-o"></i> Anúncios <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="anuncios">
                    <li>
                        <a href="~/Anuncio/CreateAnuncio">
                            <i class="fa fa-angle-double-right"></i> Criar Anúncios
                        </a>
                    </li>
                    <li>
                        <a href="~/Anuncio/ListAnuncio">
                            <i class="fa fa-angle-double-right"></i> Gerenciar Anúncios
                        </a>
                    </li>
                </ul>
            </li>
            <!-- end CHARTS DROPDOWN -->
            <!-- begin FORMS DROPDOWN -->
            <li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#campanhas">
                    <i class="fa fa-users"></i> Campanhas <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="campanhas">
                    <li>
                        <a href="~/Campanha/CreateCampanha">
                            <i class="fa fa-angle-double-right"></i> Criar Campanha
                        </a>
                    </li>
                    <li>
                        <a href="~/Campanha/ListCampanha">
                            <i class="fa fa-angle-double-right"></i> Gerenciar Campanha
                        </a>
                    </li> 
                </ul>
            </li>
            
            <li class="panel">
                <a href="javascript:;"  data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#creditos">
                    <i class="fa fa-dollar"></i> <span style="padding-left:6px;">Créditos</span> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="creditos">
                    <li>
                        <a href="~/Credito/BuyCredit" >
                            <i class="fa fa-angle-double-right"></i> Comprar Créditos
                        </a>
                    </li>
                    <li>
                        <a href="~/Credito/ManagerCredit">
                            <i class="fa fa-angle-double-right"></i> Gerenciar Créditos
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#destaques">
                    <i class="fa fa-bookmark"></i> Destaques <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="destaques">
                    <li>
                        <a href="/Destaque/ComprarDestaque">
                            <i class="fa fa-angle-double-right"></i> Adquirir Destaques
                        </a>
                    </li>
                    <li>
                        <a href="/Destaque/ListDestaque">
                            <i class="fa fa-angle-double-right"></i> Gerenciar Destaques
                        </a>
                    </li>
                </ul>
            </li>


            <li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#relatorios">
                    <i class="fa fa-file-text"></i> Relatórios <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="relatorios">
                    <li>
                        <a href="/RelatorioAnunciante/RelAnunPrincipal">
                            <i class="fa fa-angle-double-right"></i> Selecionar
                        </a>
                    </li>
                </ul>
            </li>
            

            <!-- end FORMS DROPDOWN -->
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->
<!-- end SIDE NAVIGATION -->

<script>
    function LogoutCliqueMix() {
        $.ajax(
        {
            type: 'POST',
            url: '/Account/_Logout',
            dataType: 'html',
            cache: false,
            async: true,
            success: function() {
                document.getElementById('btnCancelarLogout').click();
                location.href = "/Account/Login";
            }
        });
    }
</script>


