<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="~/">Dashboard</a> </li>
    <li class="">Relatórios</li>
    <li class="">Prêmios</li>
    <li class="active">Visualizar</li>
</ol>